ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, 210px);
    grid-auto-rows: 1fr;
    gap: 35px; */
    gap: 3rem;
    justify-content: center;
    width: 100%;
}


li a {
    width: 4rem;
    text-decoration: none;

}
