.store {
  width: clamp(400px, 100%, 1400px);
  margin: 2rem auto 3rem auto;
}

.store ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.store li a {
  width: 4rem;
  text-decoration: none;
}

@keyframes fadeAndSlideIn {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeAndSlideIn 0.4s ease-in-out forwards;
}

@media (max-width: 768px) {
  .store {
    width: 100%;
  }

  .store ul {
    /* width: 100%; */
    padding: 0;
    margin: 0;
    gap: 1.2rem;
  }
}

@media (max-width: 1024px) {
}
