@import '../../vars.css';

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: clamp(400px, 38%, 800px);
  height: 100%;
  background-color: var(--dark-charcoal);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(0);
  transition: 1s transform ease-in-out;
  text-shadow: 2px 2px 3px var(--shadow);
  animation: fadeIn 0.1s ease-in-out;
}

.sidebar ul {
  list-style: none;
}

.sidebar.hidden {
  transform: translateX(100%);
}

.modalOverlay.active .sidebar {
}

.cartTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, var(--dark-gray) 0%, var(--charcoal) 100%);
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
}

.cartTop button {
  height: 2rem;
}

/* Styles the material cart icon */
.cartTop > span {
  font-size: 2rem;
  flex-shrink: 4;
  margin-right: auto;
}

.cartBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0.75rem 0 1rem;
  margin: 0;
  gap: 15px;
  flex-wrap: nowrap;
  overflow-y: auto;
  height: 100%;
}

.cartBottom li {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); /* Blurs the background */
  display: flex;
  justify-content: flex-end; /* Align modal to the side */
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
  z-index: 1000;
}

.modalOverlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  transition: all 0.1s ease-in-out;
}

.checkoutLink {
  width: 100%;
  padding: 1rem 2rem;
}

.checkoutLink p {
  margin: 0;
}

.checkoutLink a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--dark-charcoal);
  background-color: transparent;
  border: solid 2px var(--white);
  height: 3rem;
  padding: 0.3rem 0.8rem;
  border-radius: var(--small-radius);
  box-shadow: 2px 2px 4px var(--shadow);
}

.checkoutLink div {
  display: flex;
  width: 100%;
  gap: 2rem;
  align-items: center;
}

.emptyMessage {
  font-size: 1.3rem;
  text-align: center;
  color: var(--white);
  margin: 2rem auto;
  padding: 0 1rem;
  height: 100%;
}

.clear {
  display: flex;
  background-color: var(--orchid-highlight);
  padding: 0.5rem 0.75rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: var(--small-radius);
  border: none;
  box-shadow: 2px 2px 4px var(--shadow);
}

.clear span {
  font-size: 1.4rem;
  transform: translateY(-2px);
}

.clear:hover,
.checkoutLink a:hover {
  transform: translateY(-2px);
  border-color: var(--orchid-highlight);
  box-shadow: 4px 4px 6px var(--shadow);
  transition: transform 0.1s ease-in-out;
}

.clear:active,
.checkoutLink a:active {
  transform: translateY(2px);
  transition: transform 0.1s ease-in-out;
}
