:root {
  --charcoal: #424b54;
  --dark-charcoal: #3c4146;
  --opaque-charcoal: #424b5480;
  --gray: #93a8ac;
  --light-gray: #a8c2c7;
  --dark-gray: #8a999e;
  --white: #ffffff;
  --orchid: #e2b4bd;
  --rose: #9b6a6c;
  --shadow: rgba(1, 1, 1, 0.205);
  --header-font: 'EBGaramond';
  --body-font: 'SplineSans';
  --big-radius: 10px;
  --small-radius: 5px;
}
