@import '../../../vars.css';

.item {
  justify-content: center;
  display: flexbox;
  flex-direction: column;
  border-radius: var(--big-radius);
  width: 18rem;
  box-shadow: 3px 3px 8px var(--shadow);
  transition: transform 0.2s ease-in-out;
}

.item div:first-of-type {
  background-color: white;
  border-radius: var(--big-radius) var(--big-radius) 0px 0px;
}

.item h3 {
  text-decoration: none;
  color: var(--charcoal);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  height: calc(1.2em * 4);
  margin: 2px 8px;
  font-weight: 600;
  text-align: center;
  background-color: white;
}

.item h4 {
  color: rgb(92, 92, 92);
  margin: 8px 8px;
}

.item .imageContainer {
  background-color: white;
  justify-content: center;
  width: 100%;
  height: 16rem;
  border-radius: var(--big-radius) var(--big-radius) 0 0;
}

.item img {
  display: block;
  justify-self: center;
  height: 100%;
  object-fit: contain;
  width: 100%;
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
}

.priceContainer {
  border-radius: 0 0 var(--big-radius) var(--big-radius);
  height: 100%;
  width: 100%;
  text-shadow: 2px;
  text-align: center;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.priceContainer::after {
  content: '';
  background-image: linear-gradient(138deg, var(--orchid-highlight) 45%, var(--orchid) 100%);
  z-index: -1;
  position: absolute;
  top: -10rem;
  right: 0;
  bottom: -10rem;
  left: 0;
}

.item:hover .priceContainer::after {
  animation: gradientFlip ease-in-out 1.2s alternate infinite;
  animation-fill-mode: forwards;
}

.item:hover {
  box-shadow: 3px 3px 6px var(--shadow);
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

.item:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@keyframes gradientFlip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
